body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    background: url('../images/network-1572617_640.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
    height: 60vh;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    position: relative;
    z-index: 1;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.buttons button {
    height: 50px;
    width: 150px;
    margin-left: 70px;
    border-radius: 50px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    cursor: pointer;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.articles {
    flex: 2;
}

article {
    display: flex;
    margin-bottom: 30px;
}

article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-img{
    height: 180px;
    width: 350px;
}

.article-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-text h2 {
    font-size: 20px;
    margin: 0;
}

.category {
    font-size: .8em;
    padding: 7px 17px;
    border-radius: 35px;
    background-color: #ddd;
}

.popular-articles {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.popular-articles h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.popular-articles ul {
    list-style: none;
    padding: 0;
}

.popular-articles li {
    margin-bottom: 25px;
    font-size: 1.2em;
    cursor: pointer;
    
}

.popular-articles li div{
    margin-top: 7px;
}

.popular-articles .category{
    font-size: 14px;
}